body {
    font-family: 'Play', sans-serif;
}


header {
    height: 100vh;
    background-color: lightseagreen;
    font-size: 30px;
    
}

nav {
    background-color: darkslateblue;
    display: flex;
    justify-content: space-between;
    
}


#navButtons {
    display: flex; 
    list-style-type: none;
}


a {
    
    text-decoration: none;
    font-size: 32px;
    color: white;
    padding-right: 15px;
}

h1 {
    font-size: 48px;
}


#subNavAr {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}


#subNav {
    margin-left: 75px;
    margin-bottom: 150px;
}

h1{
    font-size: 45px;
}

p {
    font-size: 24px;
    font-weight: 100;
    margin: 5px;
}

#mainButton {
    width: 100px;
    height: 50px;
    background-color: purple;
    color:white;
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 485px;
}

.top {
    background-color: rgba(140,20,252,0.7);
    position: fixed;
    top: 0;
    width: 100%;
}

#projectOne {
    color:blueviolet;
}
#projectTwo {
    color: lightgreen;
}
#projectThree {
    color: red;
}


#fdc {
    font-size: 30px;
    font-weight: bold;
}

#sales {
    font-size: 30px;
    font-weight: bold;
}

li {
    font-size: 24px;
}


/* @media (orientation: landscape) {
    
} */

@media (max-width: 500px){
    body {
        font-family: 'Play', sans-serif;
    }
    header {
        height: 100vh;
        width: 100vw;
        background-color: lightseagreen;
        font-size: 15px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    #navButtons {
        display: flex;
        list-style-type: none;
    }
    
    /* #borgerMenu {
        position: fixed;
        z-index:5;
        top: 1rem;
        left: 1rem;
        border: black solid 1px;
        background: white;
        cursor: pointer;
    }

    .closeBorger {
        display: none;
    }

    .nav {
        position: fixed;
        transform:translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        background: black;
        color:white;
        list-style: none;
        padding-top: 4rem;
    } */
    a {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        text-decoration: none;
        font-size: 15px;
        color: white;
    }


    #subNavAr {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-left: 55px;
    }

    #subNav {
        margin-left: 15px;
        margin-bottom: 100px;
    }

    h1{
        font-size: 35px;
    }

    p {
        font-size: 24px;
        font-weight: 100;
        margin: 5px;
    }

    #mainButton {
        width: 100px;
        height: 50px;
        background-color: purple;
        color:white;
        border-radius: 25px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        margin-top: 15px;
        margin-left: 85px;
    }


    #scrollPoint {
        box-sizing: border-box;
    }

    #resumeContainer {
        box-sizing: border-box;
    }

    .top {
        background-color: rgba(140,20,252,0.7);
        position: fixed;
        top: 0;
        width: 100%;
    }

    #projectOne {
        color:blueviolet;
    }
    #projectTwo {
        color: lightgreen;
    }
    #projectThree {
        color: red;
    }

    #fdc {
        font-size: 30px;
        font-weight: bold;
    }

    #sales {
        font-size: 30px;
        font-weight: bold;
    }

}

/* 

.btn:hover{
    transform: scale(1.2);
}


*/


